<div class="container">
    <div class="title">Contact</div>
    <div class="contact-body">
        <div class="contact-block">
            <div class="contact-block-title">Phone</div>
            <div class="contact-block-content">+38 (066) 350-66-04</div>
        </div>
        <div class="contact-block">
            <div class="contact-block-title">Socials</div>
            <div class="contact-block-media">
                <img src="./assets/contact/instagram.svg" alt="#inst">
                <img src="./assets/contact/watsap.svg" alt="#watsap">
            </div>
        </div>
        <div class="contact-block">
            <div class="contact-block-title">Address</div>
            <div class="contact-block-content">Heroiv Maidany, 96, Kyiv, Ukraine, 01001</div>
        </div>
        <div class="contact-block">
            <div class="contact-block-title">Working Hours</div>
            <div class="contact-block-content">24 hours a day</div>
        </div>
    </div>
    <div class="contact-img"><img src="./assets/contact/map.jpg" alt="#map-photo"></div>
</div>