<div class="container">
    <div class="title">5% off on the first order</div>
    <div class="action-img"><img src="./assets/action/tools-bg.png" alt="#tools-photo"></div>
    <form action="#" class="action-form">
        <input type="text" class="action-name action-input" placeholder="Name">
        <input type="number" class="action-phone action-input" placeholder="Phone number">
        <input type="email" class="action-email action-input" placeholder="Email">
        <button class="action-btn btn">Get a discount</button>
    </form>
</div>