<div class="header">
    <div class="container">
        <a href="/" class="header__logo"><img src="./assets/logo.svg" alt="#Logo"></a>
    
        <nav class="header__nav">
            <a href="/" class="nav__item"><b>Main Page</b></a>
            <a href="/categories" class="nav__item">Categories</a>
            <a href="/products" class="nav__item">All products</a>
            <a href="/sales" class="nav__item">All sales</a>
        </nav>
    
        <a href="/cart" class="header__cart"><img src="./assets/header/basket.svg" alt="#CART"></a>
    </div>
    <div class="header-line"></div>
</div>